.icon-48-j4schema{background:url('../images/j4schema_48.png')}
.loader-bg-small{min-height:20px;background:url("../images/circle2_16.gif") no-repeat scroll 50% 3% transparent}
.calendar{vertical-align:bottom;margin-left:5px}
#j4schema .input_pre{font-family:"Courier New";font-size:100%}
#j4schema pre{padding:0}
.faux_pre{font-family:"Courier New";}

#dummy_disabled{font-size: 110%;font-style: italic;padding-left: 30px;}

fieldset label.radiobtn{clear:none}

label.main {
    background: none repeat scroll 0 0 #E0E0E0;
    border-bottom: 1px solid gray;
    display: inline-block;
    margin:5px;
    padding: 2px;
    width: 45%;
    max-width:200px;
}

label.required{
	font-weight: bold;
	font-size:12px
}

#warning{color: #FF0000;font-size: 14px;font-weight: bold;margin: 10px 0;text-align: center;padding:25px 0}
#toggleEditor{
	color:#0B55C4;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	margin:10px;	
}
#toggleEditor:hover{text-decoration:underline}
#values_descr{margin:5px}
.expandToType{color:#0B55C4;cursor:pointer;text-decoration:underline}

#j4schema input.insert, #j4schema input.cancel, #j4schema input.button, #j4schema .updateButton {
    background: url("../images/buttons.png") repeat scroll 0 -26px transparent;
    border: 0 none;
    cursor: pointer;
    font-weight: bold !important;
    font-size: 10px;
    height: 26px;
    margin: 0;
    padding: 0 0 2px;
    width: 94px;
}

#j4schema input.insert {background: url("../images/buttons.png") repeat scroll 0 -52px transparent;}
#j4schema input.cancel {background: url("../images/buttons.png") repeat scroll 0 0px transparent;}

#proFeatures{margin:10px 0 0 30px}
#proFeatures li{list-style:disc;padding:0}
#proFeatures li ul{margin-left:20px}
#proFeatures li ul li{list-style:circle}